@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --colorYellow: #faa433;
  --colorWhite: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.heading {
  text-align: center;
  margin-block-start: 15px;
  display: flex;
  justify-content: center;
}
.heading-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-class {
  height: 85vh;
}

.logo,
.logo-book {
  font-size: 25px;
  letter-spacing: 1px;
}
.logo,
.logo-book,
form .button button,
.listBtn,
a {
  color: var(--colorWhite);
}
.logo-book {
  font-size: 27px;
}
.new-registration {
  font-size: 24px;
}
.logo-book,
.new-registration {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 255, 0) 16%,
    var(--colorYellow) 16%,
    rgba(255, 0, 255, 0) 41%
  );
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #786ca0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.listBtn:hover {
  background-color: #f18110;
}
.logo:hover,
.listBtn:hover {
  cursor: pointer;
}

.right,
.form-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listBtn {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--colorYellow);
  border-radius: 6px;
  padding: 10px 20px;
  transition: 0.2s;
}

.listBtn ion-icon {
  margin-left: 10px;
}

.new-registration {
  margin-right: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: var(--colorWhite);
  padding: 0 30px 0 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus {
  border-color: #786ca0;
}
form .gender-details .gender-title {
  font-size: 16px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 47%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form input[type="date"] {
  color: #707070;
}

form input[type="date"]:valid {
  color: #333;
}

form input[type="radio"] {
  display: none;
}

form .category label .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 3px solid transparent;
  transition: all 0.1s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #786ca0;
  border-color: #d9d9d9;
}
a {
  text-decoration: none;
}
form .button {
  height: 40px;
  margin-bottom: 15px;
}
form .button button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--colorYellow);
}
form .button button:hover {
  background-color: #786ca0;
}
.add {
  margin-inline-start: 20px;
}
#updateButton {
  display: none;
}

/* TABLE */

table {
  width: 850px; /* Adjust the width as needed */
  margin: 5% auto; /* Center horizontally */
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

th,
td {
  padding: 8px; /* Decreased padding for less space between columns */
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

th {
  background-color: var(--colorYellow);
  color: var(--colorWhite);
  font-weight: 500;
}

tr:hover {
  background-color: #f5f5f5;
}

.action-th {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.action-btn {
  padding: 3px 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.action-btn:hover {
  background-color: #2f363f;
}

.btn-update {
  background-color: #01aeb6;
  color: white;
}

.btn-delete {
  background-color: #d8544a;
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .category {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .main-navbar {
    flex-direction: column;
  }

  .right {
    justify-content: flex-start;
    margin-top: 15px;
  }
}

/* Responsive styles for the table */
@media (max-width: 856px) {
  table {
    width: 100%;
  }
}

@media (max-width: 700px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: 500;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
